<div class="container">
	<div class="row">
		<a href="#/constructorsChampionship" class="view-switch btn">&laquo; Constructors Championship</a>
		<div>
			<div>
				<img ng-show="team" src="img/flags/{{team.Constructor.nationality}}.png">
				<h1 class="driver-name">{{team.Constructor.name}}</h1>
			</div>
			<div>
				<strong>Country</strong>: {{team.Constructor.nationality}} <br>
				<a href="{{team.Constructor.url}}" target="_blank" class="view-switch">Biography</a>
			</div>
			<div>
				<h3><strong>Drivers</strong></h3>
				<ul ng-repeat="driver in driversList">
					<li><a href="./#/driversChampionship/{{driver.driverId}}">{{driver.givenName}}&nbsp;{{driver.familyName}}</a></li>
				</ul>
			</div>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th colspan="3">2014 Results</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Position</td>
						<td>{{team.position}}</td>
					</tr>
					<tr>
						<td>Points</td>
						<td>{{team.points}}</td>
					</tr>
					<tr>
						<td>Wins</td>
						<td>{{team.wins}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	<img src="img/loading.gif" id="loading-gif" alt="loading, please wait">
	</div>
</div>