<div class="container">
	<div class="row">
		<a href="#/driversChampionship" class="view-switch btn">&laquo; Drivers Championship</a>
		<div class="row">
			<div class="col">
				<img ng-show="driver" src="img/drivers/{{driver.Driver.driverId}}.jpg">
			</div>
			<div class="col">
				<img ng-show="driver" src="img/flags/{{driver.Driver.nationality}}.png">
				<h1 class="driver-name">{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</h1>
				<strong>Country:</strong> {{driver.Driver.nationality}}   <br>
				<strong>Team:</strong> <a href="./#/teams/{{driver.Constructors[0].constructorId}}" class="view-switch">{{driver.Constructors[0].name}}</a><br>
				<strong>Birth:</strong> {{driver.Driver.dateOfBirth}}<br>
				<a href="{{driver.Driver.url}}" target="_blank" class="view-switch">Biography</a>
			</div>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th colspan="5">{{races[0].season}} Results</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Round</th>
						<th>Grand Prix</th>
						<th>Team</th> 
						<th>Grid</th> 
						<th>Race</th>
					</tr>
					<tr ng-repeat="race in races">
						<td>{{race.round}}</td>
						<td><img  src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
						<td>{{race.Results[0].Constructor.name}}</td>
						<td>{{race.Results[0].grid}}</td>
						<td>{{race.Results[0].position}}</td>
					</tr>
				</tbody>
			</table>
			<img src="img/loading.gif" id="loading-gif" alt="loading, please wait">
		</div>
	</div>
</div>

