<div class="container">
	<div class="row">
		<div class="jumbotron text-center">
			<h1>Drivers Championship Page</h1>			
		</div>

		<a href="#/constructorsChampionship" class="view-switch btn">Constructors Championship</a>
		<input type="text" ng-model="nameFilter" placeholder="Search">

		<select ng-model="year" ng-change="change(year)">
			<option ng-selected="{{year == 2012}}">2012</option>
			<option ng-selected="{{year == 2013}}">2013</option>
			<option ng-selected="{{year == 2014}}">2014</option>
			<option ng-selected="{{year == 2015}}">2015</option>
			<option ng-selected="{{year == 2016}}">2016</option>
		</select>

		<table class="table">
			<thead>
				<tr>
					<th colspan="4">{{year}} Drivers Championship Standings</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="driver in driversList | filter: searchFilter">
					<td>{{$index + 1}}</td>
					<td>
						<img src="img/flags/{{driver.Driver.nationality}}.png" alt="flag of {{driver.Driver.nationality}}">
						<a href="#/driversChampionship/{{driver.Driver.driverId}}">{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</a>
					</td>
					<td><a href="#/constructorsChampionship/{{driver.Constructors[0].constructorId}}">{{driver.Constructors[0].name}}</a></td>
					<td>{{driver.points}}</td>
				</tr>
			</tbody>
		</table>
		<img src="img/loading.gif" id="loading-gif" alt="loading, please wait">
	</div>
</div>